@import "../../../App.module.scss";



.Navbar {
    background-color: #c23957;
    color: #fff;
    padding: 10px;
    @include display();
    position: relative;
    justify-content: flex-start;

    h1 {
        i {
            padding: 0 10px 0 0;
        }
    }

    ul {
        @include display();
        position: absolute;
        right: 10px;

        li {
            list-style: none;
            padding: 5px;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}