@import "../../../App.module.scss";

.Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 20px;
    width: 100%;
}

.Card {
    flex-direction: column;
    @include display();
    border: 1px solid #e4e3e3;
    padding: 20px;
    position: relative;

    img {
        border-radius: 100%;
    }

    h3 {
        font-size: 1.2rem;
        margin: 10px;
    }

    a {
        background-color: rgb(63, 63, 63);
        color: #fff;
        @include display();
        padding: 5px 10px;
        text-decoration: none;
        transition: 300ms color;

        &:hover {
            color: rgb(85, 84, 84);
        }
    }
}